
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container-tour {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 7px;
}

.left-content {
    width: 65%;
    padding-right: 20px;
}

.right-content {
    width: 30%;
    position: relative;
}

.booking-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
}

.menu {
    background-color: #333;
    padding: 10px;
    color: white;
}

.menu nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menu nav li {
    display: inline-block;
    margin: 0 15px;
}

.menu nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-column {
    width: 30%;
}

.footer-column h3 {
    margin-top: 0;
}

.book-now {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6348;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.book-now:hover {
    background-color: #ff6348;
}

.wishlist {
    text-align: center;
    margin-top: 10px;
    color: #888;
    cursor: pointer;
}

.wishlist:hover {
    color: #d9534f;
}

.ratings span {
    color: gold;
}

.description {
    margin-top: 20px;
}

.description p {
    margin: 10px 0;
}

ul {
    list-style-position: inside;
    padding-left: 15px;
}

.col-md-5 {
    margin-left: 40px;
    margin-top: -21px;
}

.row {
    border-radius: 20px;
}

img {
    border-radius: 8px;
}

.img-tour {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.map {
    margin-top: 30px;
    margin-bottom: 30px;

}

.container-tour {
    .input-disable {
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #d8d6d6;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #3c3c3c;
    }

    .quyDinh {

        * {
            padding: 5px 0;
        }

        h3 {
            text-align: center;
            text-decoration: underline;
            color: #B22222;
        }

        strong {
            text-decoration: underline;
        }

        span {
            color: #FF0000;
        }
    }


}