<html xmlns:th="http://www.thymeleaf.org">

<a th:href="@{|/tourDetail?tourId=${tour.tourId}|}" style="text-decoration: none" class="item-list-hotel" th:each="tour : ${tours}">
    <div class="sale-img">

        <img th:src="@{/images/{imgPath}(imgPath=${tour.images})}">

    </div>
    <div class="inforHotel">
        <h4>[[${tour.tourName}]]</h4>
        <div class="timestay">
            <div class="time">
                <i class="bi bi-clock"></i>
                <span>[[${tour.numberDay}]]</span>
            </div>
            <img src="images/5 sao.png" alt="">
        </div>
        <hr>
        <div class="end-item">
            <div class="address">
                <i class="bi bi-geo-alt-fill"></i>
                <span>Đà Nẵng</span>
            </div>
            <div class="price">
                <span class="new">[[${tour.price}]]<label> đ</label></span>
            </div>

        </div>
    </div>
</a>