<div id="table_all">
    <div id="breadcrumb">
        <a href="#" class="bre_home">Home</a><span class="cur">/</span> <span id="current"></span> <span
            class="cur">/</span> <span id="currentSection"> </span>
    </div>
    <div class="content_sta">
        <div class="content_sta_um sta_1">
            <div class="sta_one">
                <div>
                    <span>Tổng Số Nhân Viên:</span>
                </div>
                <div>
                    <i class="fa-solid fa-clipboard-user"></i>
                    <span th:text="${totalEmployees} + ' Người'"></span>
                </div>
            </div>
        </div>
        <div class="content_sta_um sta_2">
            <div class="sta_two">
                <div>
                    <span>Tổng Số Nhân Viên Nam:</span>
                </div>
                <div>
                    <i class="fa-solid fa-clipboard-user"></i>
                    <span>100 Người</span>
                </div>
            </div>
        </div>
        <div class="content_sta_um sta_3">
            <div class="sta_three">
                <div>
                    <span>Tổng Số Nhân Viên Nữ:</span>
                </div>
                <div>
                    <i class="fa-solid fa-clipboard-user"></i>
                    <span>100 Người</span>
                </div>
            </div>
        </div>
        <div class="content_sta_um sta_4">
            <div class="sta_four">
                <div>
                    <span>Nhân Viên Đang Làm:</span>
                </div>
                <div>
                    <i class="fa-solid fa-clipboard-user"></i>
                    <span>100 Người</span>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div class="content-all">
            <div class="card">
                <div class="card-body">
                    <div class="content-btn-all">
                        <button class="content-btn btn-more">Thêm Nhân Viên</button>
                    </div>

                    <tr id="addEmployeeRow" >
                        <form
                                id="employee_form"
                                th:action="@{/fetch/qlNhanVien2}" th:object="${user32}" method="post">
                            <td>+</td>
                            <td><input type="text" id="employee_id" placeholder="ID Người Dùng"></td>
                            <td><input type="text" id="employee_name" placeholder="Tên Người Dùng" th:field = "*{userName}"></td>
                            <td><input type="text" id="employee_Password" placeholder="Mật khẩu" th:field = "*{password}"></td>
                            <td><input type="text" id="employee_full name" placeholder="Họ và tên" th:field = "*{fullName}"></td>
                            <td><input type="text" id="employee_tel" placeholder="Số điện thoại" th:field = "*{phone}"></td>
                            <td><input type="text" id="employee_email" placeholder="Email" th:field = "*{email}"></td>
                            <td><input type="date" id="employee_birthday" placeholder="Ngày sinh" th:field = "*{birthday}"></td>
                            <td><input type="text" id="employee_status" placeholder="Trạng Thái"th:field = "*{status}"></td>
<!--                            <td> <select id="employee_gender" disabled th:field = "*{gender}">-->
<!--                                <option value="male" >Nam</option>-->
<!--                                <option value="female">Nữ</option>-->
<!--                                <option value="other">Khác</option>-->
<!--                            </select></td>-->
                            <td><input type="date" id="cancelDate" placeholder="Ngày tạo"></td>
                            <td><input type="date" id="updateDate" placeholder="Ngày Cập Nhật"></td>
                            <td>
                                <button type="button" onclick="submit_employee()" >Lưu</button>
                            </td>
                        </form>
                    </tr>
                    <table id="table" class="table table-striped table-bordered" data-id="employeeTable" border="1">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>ID_Người Dùng </th>
                            <th>Tên Nguời Dùng</th>
                            <th>Mật Khẩu</th>
                            <th>Họ Và Tên</th>
                            <th>Số Điện Thoại</th>
                            <th>Email</th>
                            <th>Ngày Sinh</th>
                            <th>Trạng Thái</th>
                            <th>Giới Tính</th>
                            <th>Ngày Tạo</th>
                            <th>Ngày Cập Nhật</th>
                            <th>Chỉnh Sửa</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="employee, iterStat : ${employees}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${employee.userId}"></td>
                            <td th:text="${employee.userName}"></td>
                            <td th:text="${employee.password}"></td>
                            <td th:text="${employee.fullName ?: 'N/A'}"></td>
                            <td th:text="${employee.phone ?: 'N/A'}"></td>
                            <td th:text="${employee.email ?: 'N/A'}"></td>
                            <td th:text="${employee.birthday ?: 'N/A'}"></td>
                            <td th:text="${employee.status ?: 'N/A'}"></td>
                            <td th:text="${employee.gender ? 'Nam' : 'Nữ'}"></td>
                            <td th:text="${employee.createdAt}"></td>
                            <td th:text="${employee.updatedAt}"></td>
                            <td>
                                <a href="#"><i class="fa-solid fa-user-pen"></i></a>
                                <a href="#"><i class="fa-solid fa-user-lock"></i></a>
<!--                                <a href="#"><i class="fa-solid fa-trash-can"></i></a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
