<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm tour du lịch mới</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="manage_TravDana/assets/css/styleThemTour.css" />
</head>

<body>
    <div th:insert="view/manage_TravDana/Layout_Manage/breadcrumb.html:: div"> </div>
    <div class="content-themTour">
        <div class="content-themTour my-5">
            <h2 class="text-center">Thêm tour du lịch mới</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tourName">Tên tour du lịch</label>
                        <input type="text" class="form-control" id="tourName" placeholder="Tên tour mới" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tourId">Tour ID</label>
                        <input type="text" class="form-control" id="tourId" placeholder="Tour ID" />
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="destinationTo">Từ</label>
                        <select class="form-control" id="destinationTo">
                            <option value="QB">Quảng Bình</option>
                            <option value="H">Huế</option>
                            <option value="QT">Quảng Trị</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="destinationFrom">Đến</label>
                        <select class="form-control" id="destinationFrom">
                            <option value="Danang">Đà NẴng</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="destination-select">Chọn Điểm Dừng:</label>
                        <select id="destination-select" class="form-control">
                            <option value="Đèo Hải Vân">Đèo Hải Vân</option>
                            <option value="Kinh Thành Huế">Kinh Thành Huế</option>
                            <option value="Đông Hà">Đông Hà</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div id="site-selected" class="site-selected"></div>
                    <p></p>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="startDate">Ngày đi</label>
                        <input type="date" class="form-control" id="startDate" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="endDate">Ngày về</label>
                        <input type="date" class="form-control" id="endDate" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tourGuide">Hướng dẫn viên</label>
                        <select class="form-control" id="tourGuide">
                            <option value="1">Bảo nghiện</option>
                            <option value="2">Tấn</option>
                            <option value="3">T adu</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="hotel">Khách sạn</label>
                        <select class="form-control" id="hotel">
                            <option value="1">Mường Thanh</option>
                            <option value="2">Đongo nam á</option>
                            <option value="3">HomeTT</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="childrenPriceUnder5">Giá trẻ em dưới 5 tuổi</label>
                        <input type="number" class="form-control" id="childrenPriceUnder5"
                            placeholder="Trẻ em dưiox 5" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="childrenPrice5to14">Giá trẻ em từ 5-14 tuổi</label>
                        <input type="number" class="form-control" id="childrenPrice5to14"
                            placeholder="Trẻ em từ 5-14" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="quantityLimit">Giới hạn só người trong tourr</label>
                        <input type="number" class="form-control" id="quantityLimit"
                            placeholder="Số người trong tuor" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="newPrice">Giá mới</label>
                        <input type="number" class="form-control" id="newPrice" placeholder="Giá mới" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="oldPrice">Giá cũ</label>
                        <input type="number" class="form-control" id="oldPrice" placeholder="Giá cũ" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sale">Giảm giá (%)</label>
                        <input type="number" class="form-control" id="sale" placeholder="Giảm giá" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="transportation">Phương tiện</label>
                        <select class="form-control" id="transportation">
                            <option value="Bus">Ngựa</option>
                            <option value="Car">Trực thăng</option>
                            <option value="Plane">Grab</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description">Mô tả</label>
                        <textarea class="form-control" id="description" rows="3" placeholder="Mô tả"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="imageUpload">Ảnh của tour</label>
                    <input type="file" class="form-control-file" id="imageUpload" multiple accept="image/*" />
                    <div id="imagePreview" class="image-preview mt-3"></div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Hoàn thành</button>
            </form>
        </div>
    </div>
    <script src="manage_TravDana/assets/js/themTourMoi.js"></script>
</body>

</html>